// ATOM CSS

// H3 Title 
.h3-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000000;
}
// H3 Title End

// Section Title 
.section-title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.underline-section-title {
display: inline-block;
width: 100%;
border-bottom: 3px solid black; 
}
// Section Title End

// Event Image
.EventImage {
    width: 33.3%;
    height: 15vh; 
    object-fit: cover;
}
// Event Image End

// BUTTON CSS
#roundbutton {  
    width: 40px; 
    height: 40px; 
    border: none;
    background-color: black; 
    color: white;
    border-radius: 50%; 
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .roundbuttonarrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  #squarebutton {
    width: 150px;
    height: 35px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  
  .squarebuttonleft {
      rotate: 180deg;
    }
  }

  .x-button {
    position: absolute;
    top: -3%;
    right: -2%;
  }
  // BUTTON END

  