.Events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Date Event
.dateevent-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  background-color: white;
  padding: 1rem 0;

  .dateevent-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .dateevent-h3 {
    color: #F69E67;
  }

  .dateevent-p {
    font-weight: 200;
  }

  .dateevent-img {
    width: 10%;
    object-fit: cover;
  }
}
// Date Event end

// About Event
.aboutevent-section {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 1rem;
}
// About Event end

// Event Details
.event-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 1rem;
}

.event-details-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

.icon {
  width: 18px;
  height: 18px;
}

.event-details iframe {
  width: 300px;
  height: 200px;
}
// Event Details end

// QR Code
.qrcode-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 1rem;

  .qrcode-h3 {
    color: #6370F1;
  }

  .qrcode-img {
    width: 50%;
  }
}
// QR code end

.backtofp-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: rgb(220, 81, 188);
  background: linear-gradient(
    152deg,
    rgba(220, 81, 188, 1) 20%,
    rgba(254, 145, 87, 1) 40%,
    rgba(200, 93, 164, 1) 60%,
    rgba(108, 103, 228, 1) 80%,
    rgba(200, 93, 164, 1) 100%
  );
}

.backtofp-text {
  display: flex;
  flex-direction: column;
}

.room-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: white;
}
.room-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10%;
}

.room-paragraph {
  width: 85%;
}

.redcircle {
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #af3b3b;
}

.roomimg {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  text-align: left;
}
