* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: NeueMontreal-Regular;
  src: url(assets/fonts/NeueMontreal-Regular.ttf);
}

@font-face {
  font-family: NeueMontreal-Medium;
  src: url(assets/fonts/NeueMontreal-Regular.ttf);
}

@font-face {
  font-family: NeueMontreal-Bold;
  src: url(assets/fonts/NeueMontreal-Regular.ttf);
}

:root {
  /* color-scheme: dark light; */
  font-family: NeuMontreal-Regular, sans-serif; 
}


// Define variables for the screen dimensions
$screen-width: 1080px;
$screen-height: 1920px;
$screen-width-mm: 527mm;
$screen-height-mm: 939mm;

// Set the base font size based on the screen dimensions
html {
  font-size: calc(100vw / #{$screen-width * 16});

  @media (max-height: #{$screen-height-mm}) {
    font-size: calc(100vh / #{$screen-height * 16});
  }
}

// Set the body styles
body {
  width: $screen-width;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f3f3;
}